.category {
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    box-shadow: 0px 10px 23px rgba(2, 35, 67, 0.08);
    padding-bottom: 26px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
}

.category__list {
    display: grid;
    grid-column-gap: 6px;
    grid-template-columns: repeat(4, 1fr);
}

.category__link {
    border: 1px solid #EFF1F2;
    border-radius: 8px;
    padding-bottom: 30px;
    padding-top: 8px;
    text-align: center;
}

.category__img {
    display: block;
    margin: 0 auto;
}

.category__text {
    color: #1F2025;
    line-height: 130%;
    margin-top: 24px;
}

.category__name {
    color: #1F2025;
    display: block;
    margin-top: 8px;
}