.header {
    background: #FFFFFF;
}

.header__container {
    padding-top: 12px;
}

.header__row {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    margin-top: 20px;
    
    &__item {
        font-size: 16px;
        line-height: 22px;
        margin-right: 28px;
        padding-bottom: 30px;
        padding-top: 10px;
        position: relative;
        
        &:last-child {
            margin-right: 0;
        }
        
        &:hover {
            .menu__box-list {
                display: block;
            }
        }
    }
    
    &__link {
        align-items: center;
        color: $black;
        display: flex;
    }
    
    &__arrow {
        height: 5px;
        margin-left: 10px;
        width: 8px;
    }
}

.menu__box-list {
    background: #fff;
    box-shadow: none;
    display: none;
    filter: drop-shadow(0px 10px 23px rgba(2, 35, 67, 0.08));
    left: -360px;
    position: absolute !important;
    top: 100%;
    width: 1336px;
    z-index: 2;
    
    &:before {
        background: #fff;
        height: 30px;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        content: '';
        left: 350px;
        position: absolute;
        top: -30px;
        width: 100px;
    }
}

.menu__box-list--posa1 {
    left: -500px;
    
    &:before {
        left: 500px;
    }
}

.header__row-right {
    display: flex;
}

.header__lang {
    margin-right: 24px;
}

.lang {
    width: 89px;
}

.lang__choose {
    font-weight: 500;
    position: relative;
    
    &:hover {
        .lang__choose-link {
            border-color: $outline-grey;
        }
        
        .lang__dropdown {
            display: block;
        }
    }
}

.lang__choose-link {
    align-items: center;
    border: 1px solid $grey;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    text-align: center;
}

.lang__choose-icon {
    height: 5px;
    margin-left: 8px;
    width: 8px;
}

.lang__dropdown {
    background: #FFFFFF;
    border: 1px solid $outline-grey;
    box-shadow: 0px 10px 23px 2px rgba(2, 35, 67, 0.08);
    display: none;
    left: 0;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    width: 89px;
    z-index: 1;
    
    &-item {
        font-weight: 500;
    }
    
    &-link {
        color: $black;
        display: block;
        padding: 5px 0;
    }
}

.search {
    display: grid;
    grid-column-gap: 12px;
    grid-template-columns: 1fr 193px;
    margin-top: 24px;
    
    .search__input {
        background: #FFFFFF url(../images/dist/search.svg) no-repeat left 18px center;
        border: none;
        color: #737373;
        display: block;
        font-size: 14px;
        height: 47px;
        padding-left: 36px;
        padding-right: 36px;
        width: 70%;
    }
}

.search__left {
    border: 1px solid $grey;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding-right: 18px;
}



.btn-text {
    align-items: center;
    color: #737373;
    display: flex;
    
    &__icon {
        fill: #1F2025;
        height: 16px;
        margin-left: 18px;
        width: 16px;
    }
}


.btn-text-border {
    @include center();
    background: #FFFFFF;
    border: 1px solid $grey;
    border-radius: 8px;
    color: #1F2025;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
}