.resume {
    background: #E9F3FF;
    padding-top: 13px;
}

.resume__container {
    align-items: center;
    display: flex;
}

.resume__subtitle {
    font-size: 16px;
    line-height: 22px;
    margin-top: 19px;
}

.resume__btn {
    margin-top: 20px;
}