//$green-light: #96C234;
//$green: #548527;
//$mb: 30px;
//$button-size: 41px;
$black: #1F2025;
$red: #E92742;
$dark-grey: #8D8D8D;
$outline-grey: #EFF1F2;
$grey: #D6D6D6;
$blue: #0038FF;
$green: #1ED600;
$yellow: #FFDD29;
$bg: #FAFAFA;
$orange: #FE9E00;


//$media-1: 1060px;
//$media-2: 730px;
//$media-3: 530px;
//$media-4: 370px;
//$media-3: 830px;
//$media-4: 630px;
//$media-5: 530px;
//$media-6: 430px;