@charset "UTF-8";

/**
 * Основные стили
 **/

body {
    background: #fff;
    color: #1F2025;
    font-family: roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    @media (max-width: $media-5) {
        font-size: 12px;
        line-height: 1.3;
    }
}

input {
    font-size: 14px;
    font-family: roboto;
    font-weight: 400;
}

button {
    border: none;
}

textarea {
    background: #FFFFFF;
    border: none;
    color: #777777;
    display: block;
    font-family: roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding: 16px;
    resize: vertical;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, h6, .h6 {
    font-family: roboto;
    font-weight: 700;
}

h1, .h1 {
//    color: $blue;
    font-size: 40px;

    @media (max-width: 1020px) {
        font-size: 35px;
    }

    @media (max-width: 730px) {
        font-size: 30px;
    }
}

h2, .h2 {
    color: #1F2025;
    font-size: 24px;
    @media (max-width: $media-5) {
        font-size: 18px;
        line-height: 21px;
    }
}

h3, .h3 {
//    font-size: 33px;
//    line-height: 28px;
//
//    @media (max-width: 350px) {
//        font-size: 20px;
//        line-height: 1.3;
//    }
}

h4, .h4 {

}

h5, .h5 {
    color: #1F2025;
    font-size: 18px;
}

h6, .h6 {
    font-size: 16px;
    @media (max-width: $media-5) {
        font-size: 14px;
        line-height: 16px;
    }
}

strong {
    font-weight: 700;
}

img {
    object-fit: cover;
}


label {
    cursor: pointer;
}

input[type=text],
input[type=email] {
    font-family: roboto;
}

a {
    color: #232323;
    transition: color .3s ease;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1336px;
    width: 100%;

    @media (max-width: $media-1) {
        max-width: 1140px;
    }

    @media (max-width: $media-2) {
        max-width: 960px;
    }

    @media (max-width: $media-3) {
        max-width: 720px;
    }

    @media (max-width: $media-4) {
        max-width: 540px;
    }

    @media (max-width: $media-5) {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.select {
    appearance: none;
    background: #fff url(../images/dist/caret-down.svg) no-repeat right 20px center;
    border: 1px solid #CECECE;
    border-radius: 12px;
    color: #1F2025;
    height: 48px;
}

.text-right {
    text-align: right;
}

.wrapper {
    margin: 0 auto;
    overflow-x: hidden;
}

.blackBtn {
    background: #1F2025;
    border-radius: 8px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 16px;
    min-width: 120px;
    padding: 16px;
}

.goldBtn {
    background: #FFC121;
    border-radius: 12px;
    color: #1F2025;
    display: block;
    font-size: 16px;
    padding: 16px 0;
    text-align: center;
    width: 206px;

    &--long {
        display: inline-block;
        padding-left: 48px;
        padding-right: 48px;
        width: auto;
    }
}

.blueBtn {
    background: #064EBE;
    box-shadow: 0 1px 2px 0 rgba(22, 33, 54, 0.16);
    border-radius: 12px;
    color: #FFFFFF;
    font-size: 16px;
    padding: 16px 30px;
    text-align: center;
}

.orangeBtn {
    @include center();
    background: $orange;
    border: 1px solid #EFF1F2;
    border-radius: 12px;
    color: #1F2025;
    font-size: 16px;
    padding: 16px 0;
    width: 100%;
}

.compareBtn {
    align-items: center;
    display: flex;

    img {
        margin-right: 10px;
    }
}

.whiteBtn {
    background: #fff;
    border: 1px solid #D6D6D6;
    border-radius: 12px;
    color: #0038FF;
    display: block;
    font-size: 16px;
    padding: 16px 0;
    text-align: center;
}

.title-more {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title-more__link {
    align-items: center;
    display: flex;
    color: #064EBE;
    font-weight: 400;
    font-size: 14px;
    padding-right: 27px;


    @media (max-width: $media-5) {
        font-size: 0;
    }
}

.title-more__icon {
    fill: #064EBE;
    height: 10px;
    margin-left: 17px;
    width: 6px;
    @media (max-width: $media-5) {
        fill: #0038FF;
    }
}

.compareBtn--rightImg {

    img {
        margin-right: 0;
        margin-left: 4px;
    }
}

.stars {
    display: flex;

    &__link {
        display: block;
    }

    &__icon {
        display: block;
        fill: $yellow;
        height: 18px;
        width: 19px;

        &--black {
//            fill: $black;
        }
    }
}

.info-row {
    display: flex;

    &__item {
        color: #737373;
        font-size: 14px;
        line-height: 16px;
        margin-right: 25px;
        padding-left: 18px;
        @media (max-width: $media-5) {
            font-size: 12px;
        }
    }

    &--vertical {
        flex-direction: column;

        > li {
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.info-row__item-pb {
    padding-left: 0;
}

.info-row__like {
    background: url(../images/dist/like.svg) no-repeat left top;
}

.info-row__comment {
    background: url(../images/dist/comment.svg) no-repeat left top;
}

.info-row__link {
    background: url(../images/dist/Comment-plus.svg) no-repeat left top;
    color: #1F2025;
    font-size: 14px;
    line-height: 16px;
    padding-left: 20px;
}

.list-check {

    > li {
        background: url(../images/dist/check-icon.svg) no-repeat left center;
        padding-left: 26px;
        margin-top: 16px;
    }
}

@media (max-width: 390px) {
    .info-row {
        flex-direction: column;
    }
}




