.integratorPage {
    padding-top: 42px;
}

.integratorPage__header {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 432px 1fr;
    margin-top: 22px;
}

.integratorPage__header-logo {
    @include center();
    background: #fff;
    border: 1px solid $outline-grey;
    border-radius: 8px;
    box-shadow: 0px 10px 23px 2px rgba(2, 35, 67, 0.08);
}

.integratorPage__header-text {
    background: #fff;
    border: 1px solid $outline-grey;
    border-radius: 8px;
    box-shadow: 0px 10px 23px 2px rgba(2, 35, 67, 0.08);
    display: grid;
    grid-column-gap: 24px;
    grid-template-columns: 1fr 208px;
    padding: 24px;
}

.integratorPage__header-subtitle {
    color: #737373;
    display: block;
    font-size: 14px;
    margin-top: 7px;
}

.integratorPage__header-bottom {
    font-size: 14px;
    margin-top: 10px;
    
    span {
        color: #737373;
    }
}

.integratorPage__header-btns {
    
    .btn {
        font-size: 14px;
        margin-bottom: 10px;
        width: 100%;
    }
}

.contacts {
    background: #FFFFFF;
    border: 1px solid #EFF1F2;
    box-shadow: 0px 10px 23px 2px rgba(2, 35, 67, 0.08);
    border-radius: 8px;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 12px;
    padding: 24px;
}

.contacts__title {
    color: #737373;
    display: block;
    margin-bottom: 12px;
}

.contacts__address {
    line-height: 22px;
    padding-left: 32px;
    position: relative;
}

.contacts__location {
    fill: $black;
    height: 24px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 24px;
}

.contacts__phone {
    background: url(../images/dist/phone.svg) no-repeat left top 5px;
    line-height: 22px;
    padding-left: 32px;
}

.url {
    background: url(../images/dist/globe2-icon.svg) no-repeat left top;
    display: block;
    padding: 3px 0 3px 32px;
}

.email {
    background: url(../images/dist/email-icon.svg) no-repeat left 3px center;
    display: block;
    padding: 2px 0 2px 32px;
}

.contacts__email {
    margin-top: 19px;
}

.contacts__item {
    
    .box__gray {
        margin-bottom: 10px;
    }
    
    .box__gray > li {
        color: #737373;
    }
}

.wrap-box-dropdown {
    margin-top: 48px;
    
    &__title {
        color: #737373;
        display: block;
        margin-bottom: 10px;
    }
    
    .box-dropdown {
        margin-bottom: 12px;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media (max-width: $media-2) {
    .integratorPage__header {
        display: block;
    }
    .integratorPage__header-text {
        margin-top: 8px;
    }
    .integratorPage__header-logo {
        padding: 11px;
    }
}

@media (max-width: $media-3) {
    .contacts {
        grid-row-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .box-dropdown__header-center {
        display: block;
    }
    .box-dropdown__header-price {
        display: none;
    }
    .box-dropdown__header-right {
        font-size: 12px;
        min-width: 230px;
    }
    .box-dropdown__header-logos {
        max-width: 100%;
    }
}

@media (max-width: $media-4) {
    .box-dropdown__header {
        border: 1px solid #EFF1F2;
        border-radius: 8px;
        box-shadow: 0px 10px 23px 2px rgba(2, 35, 67, 0.08);
        display: block;
        padding: 12px;
        position: relative;
    }
    .box-dropdown__header-center {
        max-width: 100%;
    }
    .box-dropdown__header-right {
        background-position: top 26px right 20px;
        bottom: 0;
        font-size: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        
        &.is-active {
            background-position: top 26px right 20px;
        }
    }
    .box-dropdown__status {
        font-size: 12px;
        line-height: 16px;
        margin-top: 14px;
    }
    .integratorPage__header-text {
        border: none;
        box-shadow: none;
        display: block;
        padding: 0;
    }
    .integratorPage__header-btns {
        margin-top: 12px;
    }
    .integratorPage__header-column {
        box-shadow: 0px 10px 23px 2px rgba(2, 35, 67, 0.08);
        padding: 12px;
    }
}

@media (max-width: $media-5) {
    .contacts {
        display: block;
    }
    .contacts__item {
        margin-bottom: 12px;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    .contacts__title {
        font-size: 12px;
        line-height: 16px;
    }
    .contacts__email {
        margin-top: 10px;
    }
    .url, .email {
        font-size: 14px;
    }
    .wrap-box-dropdown {
        margin-top: 12px;
    }
    .wrap-box-dropdown__title {
        font-size: 12px;
        line-height: 16px;
    }
    .contacts__address, .contacts__phone {
        font-size: 14px;
        line-height: 19px;
    }
    .integratorPage__header-column {
        font-size: 14px;
    }
    .integratorPage__header-bottom {
        font-size: 12px;
        line-height: 16px;
    }
}