.need {
    background: url(../images/dist/need-bg.jpg) no-repeat center top;
    background-size: cover;
    color: #FFFFFF;
    margin-top: 120px;
    padding-bottom: 48px;
    padding-top: 48px;
    position: relative;
    
    &:after {
        background: url(../images/dist/sub.svg) no-repeat right top;
        background-size: cover;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.need__container {
    position: relative;
    z-index: 2;
}

.need__title {
    text-align: right;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 24px;
    margin-left: auto;
    max-width: 940px;
    
    &__item {
        background: transparent;
        border: 1px solid #EFF1F2;
        border-radius: 12px;
        color: #EFF1F2;
        margin-bottom: 12px;
        margin-right: 12px;
        padding: 16px;
        transition: all .3s ease-in;
        
        &:nth-child(3n) {
            margin-right: 0;
        }
        
        &:hover {
            background: #FFFFFF;
            border: 1px solid #EFF1F2;
            box-shadow: 0 1px 2px 0 rgba(22, 33, 54, 0.16);
            color: #007CE8;
        }
    }
}

.need__goldBtn {
    margin-left: auto;
    margin-top: 12px;
}

@media (max-width: $media-3) {
    .links {
        max-width: 100%;
        
        &__item {
            
            &:nth-child(3n) {
                margin-right: 10px;
            }
        }
    }
}