.overlay {
    background: rgba(0, 0, 0, 0.2);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
}

.popup {
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 12px;
    left: 8px;
    padding: 18px 0 0 0;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    
    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        padding-left: 16px;
        padding-right: 45px;
    }
    
    &__closeBtn {
        position: absolute;
        right: 16px;
        top: 18px;
    }
    
    &__content {
        color: #777777;
        margin-top: 16px;
        padding-left: 16px;
        padding-right: 45px;
    }
}

.closeBtn {
    cursor: pointer;
    height: 16px;
    width: 16px;
}

.popup__blueBtn {
    margin: 20px 0 0 0;
    width: 100%;
}

.blueBtn__shareIcon {
    fill: #fff;
    height: 16px;
    margin-right: 11px;
    width: 16px;
}