.breadcrumbs {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.breadcrumbs__item {
    
    &:after {
        background: url(../images/dist/arrow-next.svg) no-repeat;
        content: '';
        display: inline-block;
        height: 6px;
        margin: 0 24px;
        vertical-align: middle;
        width: 5px;
    }
    
    &:last-child {
        color: $blue;
        
        &:after {
            display: none;
        }
    }
}

.product__header {
    align-items: flex-start;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: 24px;
}

.product__header-logo {
    border: 1px solid #EFF1F2;
    box-shadow: 0 1px 2px 0 rgba(22, 33, 54, 0.16);
    border-radius: 12px;
    padding: 25px;
    text-align: center;
}

.product__header-row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.product__header-link {
    display: block;
    color: $blue;
    font-size: 14px;
}

.product__header-descript {
    color: #737373;
    margin-top: 28px;
}

.infoBoxGrid {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 24px;
}

.product__infoBoxGrid {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.infoBoxGrid__list {
    margin-top: 10px;

    > li {
        line-height: 22px;
        padding-left: 30px;
        padding-top: 3px;
        margin-top: 10px;

        &:first-child {
            margin-top: 0;
        }
    }
}

.infoBoxGrid__list--col {
    column-count: 2;
}

.infoBoxGrid__title {
    color: #737373;
    display: block;
    font-size: 12px;
    line-height: 22px;
}

.small-business-icon {
    background: url(../images/dist/small-business-icon.svg) no-repeat left top;
}

.web-icon {
    background: url(../images/dist/web-icon.svg) no-repeat left top;
}

.app-icon {
    background: url(../images/dist/app-icon.svg) no-repeat left top;    
}

.andr-icon {
    background: url(../images/dist/andr-icon.svg) no-repeat left top;        
}

.ios-icon {
    background: url(../images/dist/ios-icon.svg) no-repeat left top;        
}

.small-business-icon {
    background: url(../images/dist/small-business-icon.svg) no-repeat left top;
}

.medium-business-icon {
    background: url(../images/dist/medium-business-icon.svg) no-repeat left top;
}

.large-business-icon {
    background: url(../images/dist/large-business-icon.svg) no-repeat left top;   
}

.cloud-icon {
    background: url(../images/dist/cloud-icon.svg) no-repeat left top;   
}

.server-icon {
    background: url(../images/dist/server-icon.svg) no-repeat left top;   
}

.comp-icon {
    background: url(../images/dist/comp-icon.svg) no-repeat left top;
}

.subscribe-icon {
    background: url(../images/dist/subscribe-icon.svg) no-repeat left center;
}

.globe-icon {
    background: url(../images/dist/globe-icon.svg) no-repeat left center;
}

.product__header-right {
    border: 1px solid #EFF1F2;
    box-shadow: 0 1px 2px 0 rgba(22, 33, 54, 0.16);
    border-radius: 12px;
    grid-row: 1 / 3;
    padding-bottom: 24px;
    padding-top: 24px;
}

.product__header-right__item {
    padding-left: 24px;
    padding-right: 24px;
}

.from {
    color: #737373;
    display: block;
    font-size: 12px;
}

.price {
    font-size: 24px;
}

.smallText {
    color: #737373;
    display: block;
    font-size: 12px;
    margin-top: 12px;
}

.product__header-link {
    border-top: 1px solid #D6D6D6;
    color: $blue;
    display: block;
    margin-top: 13px;
    padding: 12px 24px;
}

.product__header-compare {
//    border-bottom: 1px solid #D6D6D6;
//    border-top: 1px solid #D6D6D6;
    padding: 16px 24px;
}

.product__header-right__list-check {
    padding-left: 29px;
    padding-right: 29px;
}

.screenshots {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 24px;
}

.screenshots__grid {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 12px;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: $media-1) {
    .product__header-row {
        display: block;
    }
    .product__header-info-row {
        margin-top: 20px;
    }
}

@media (max-width: $media-2) {
    .product__header-info-row {
        flex-direction: column;
    }
    .infoBoxGrid__list--col {
        column-count: 1;
    }
}

@media (max-width: $media-3) {
    .product__header {
        display: block;
    }
    .product__header-text {
        margin-top: 20px;
    }
    .product__header-descript {
        padding-left: 24px;
    }
    .product__header-row {
        padding-left: 24px;
    }

}

@media (max-width: $media-6) {
    .screenshots-wrap {
        overflow-x: auto;
    }
    
    .screenshots {
        width: 500px;        
    }
}

@media (max-width: 490px) {
    .product__infoBoxGrid {
        display: block;

        .infoBoxGrid__item {
            margin-bottom: 20px;
        }
    }
}