.resume {
    background: #E9F3FF;
    padding-top: 13px;
}

.resume__container {
    align-items: center;
    display: flex;
}

.resume__subtitle {
    font-size: 16px;
    line-height: 22px;
    margin-top: 19px;
}

.resume__btn {
    margin-top: 20px;
}

@media (max-width: $media-3) {
    .resume {
        padding-top: 24px;
    }
    .resume__container {
        flex-direction: column-reverse;
    }
    .resume__subtitle {
        text-align: center;
    }
    .resume__text {
        margin-bottom: 25px;
        text-align: center;
    }
}

@media (max-width: $media-5) {
    .resume__subtitle {
        margin-top: 8px;
    }
    .resume__btn {
        min-width: 192px;
    }
}