.slider-text {
    align-items: flex-start;
    display: grid;
    grid-template-columns: 320px 1fr;
    margin-top: 20px;
}

.slider-text__list-item {
    background: #FAFAFA;
    border: 1px solid $grey;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 8px;
    padding: 16px;
    position: relative;
    
    &.is-active {
        box-shadow: 0px 10px 23px 2px rgba(2, 35, 67, 0.08);
        
        &:after {
            background: $red;
            border-radius: 8px 4px 4px 4px;
            bottom: 16px;
            content: '';
            left: 0;
            position: absolute;
            top: 1px;
            width: 4px;
            z-index: 1;
        }
    }
    
    &:first-child {
        margin-top: 0;
    }
}

.slider-text__list-title {
    display: block;
    font-size: 18px;
    line-height: 25px;
}

.slider-text__list-descript {
    display: block;
    font-size: 14px;
    line-height: 19px;
    margin-top: 5px;
}

.slider-text__slider {
    overflow: hidden;
    position: relative;
    
    .slick-arrow {
        background: transparent;
        bottom: 120px;
        @include center();
        height: 15px;
        position: absolute;
        width: 15px;
        z-index: 1;
    }
    
    .slick-prev {
        left: 25px;
    }
    
    .slick-next {
        left: 195px;
    }
}

.slider-text__slider-wrap {
    max-width: 1100px;
    width: 100%;    
}

.slider-text__slider-content {
    align-items: flex-start;
    display: flex;
    padding-left: 20px;
}

.slider-text__slider-title {
    display: block;
    font-size: 36px;
    font-weight: 500;
    line-height: 49px;
    margin-bottom: 86px;
    margin-top: 120px;
    padding-left: 15px;
}

.slick-prev__icon, .slick-next__icon {
    display: block;
    fill: $black;
    height: 10px;
    width: 6px;
}

@media (max-width: $media-1) {
    .slider-text__slider-wrap {
        max-width: 900px;
    }
    .slider-text__slider-title {
        margin-bottom: 50px;
        margin-top: 100px;
    }
}

@media (max-width: $media-2) {
    .slider-text {
        display: block;
    }
    .slider-text__slider-wrap {
        max-width: 100%;
    }
    .slider-text__slider-content {
        flex-direction: column-reverse;
    }
    .slider-text__list {
        display: none;
    }
    .slider-text__slider-macbook {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .slider-text__slider-title {
        margin-bottom: 4px;
        margin-top: 0;
        padding-left: 0;
    }
    .slider-text__slider-text {
        background: #FFFFFF;
        border: 1px solid #EFF1F2;
        box-shadow: 0px 10px 23px 2px rgba(2, 35, 67, 0.08);
        border-radius: 8px;
        margin-bottom: 38px;
        padding: 12px 10px;
        position: relative;
        width: 100%;
        
        &:after {
            background: $red;
            border-radius: 4px;
            content: '';
            height: 50%;
            left: 0;
            position: absolute;
            top: 4px;
            width: 2px;
            z-index: 1;
        }
    }
    .slider-text__slider .slick-arrow {
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
    }
    .slider-text__slider .slick-next {
        left: auto;
        right: 0;
    }
}

@media (max-width: $media-5) {
    .slider-text__slider-title {
        font-size: 18px;
        line-height: 25px;
    }
}