.slick-dots {
    display: flex;
    justify-content: flex-end;
    
    > li {
        margin-right: 20px;
        
        &.slick-active {
            
            button {
                background: $black;
            }
        }
        
        &:last-child {
            margin-right: 0;
        }
    }
    
    button {
        background: $grey;
        border-radius: 10px;
        display: block;
        font-size: 0;
        height: 4px;
        transition: background .3s ease;
        width: 93px;
    }
}

/* the slides */
.slick-slide {
    margin: 0 10px;
}
/* the parent */
.slick-list {
    margin: 0 -10px;
}

@media (max-width: $media-4) {
    .slick-dots button {
        width: 36px;
    }
    .slick-dots>li {
        margin-right: 16px;
    }
}

@media (max-width: 365px) {
    .slick-dots button {
        width: 18px;
    }
    .slick-dots>li {
        margin-right: 8px;
    }
}