.swiper {
    position: relative;
}

.section-slider {
    position: relative;
}

.slider-main {
    overflow: hidden;
    padding-bottom: 20px;
    position: relative;
}

.slider-main--images {
    
    .swiper-slide__img {
        border-radius: 12px;
        height: auto;
    }

}

.slider-main-text {
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding-top: 72px;
    position: absolute;
    right: 0;
    top: 0;
//    width: 100%;
    z-index: 5;
}

.slider-main-text__container {
    position: relative;
}

.slider-main--textLeft {
    height: auto;
    padding-top: 0;
    
    .swiper-slide__container {
        padding-left: 84px;
        padding-top: 90px;
        top: auto;
        transform: none;
    }
    
    .title-1 {
        margin-left: 0;
        text-align: left;
    }
    
    .swiper-slide__subtitle {
        text-align: left;
    }
    
    .swiper-slide__goldBtn {
        margin-left: 0;
    }
}

.slider-main-text__wrapper {
    height: 100%;
    
    .swiper {
        height: 100%;
    }
}

.slider-main__container {
    margin-top: -50px;
    position: relative;
    z-index: 6;
}

.swiper-slide__img {
    display: block;
    height: 690px;
//    height: 90vh;
    width: 100%;
}

.slider-main__bg {
//    height: 90vh;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.slider-btns {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    
    &__item {
        background: #FFFFFF;
        border-radius: 12px;
        box-shadow: 0 1px 2px 0 rgba(22, 33, 54, 0.16);
        cursor: pointer;
        padding: 16px;
        position: relative;
        
        &.active {
            
            .slider-btns__blue {
                animation: blue-line 5s 1 linear;
            }
        }
    }
    
    &__title {
        color: #16254C;
        display: block;
        font-size: 18px;
        line-height: 25px;
    }
    
    &__descript {
        color: #16254C;
        display: block;
        margin-top: 4px;
    }
    
    &__blue {
        
        background: #064EBE;
        border-radius: 4px;
        bottom: 0;
        height: 4px;
        left: 0;
        position: absolute;
        width: 0;
    }
}

.slider-btns--padding {
    padding-left: 12px;
    padding-right: 12px;
}

@keyframes blue-line {
    from {width: 0;}
    to {width: 179px}
}

.title-1 {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 500;
    line-height: 42px;
    margin-left: auto;
    max-width: 402px;
    text-align: right;
}

.swiper-slide__subtitle {
    color: #fff;
    line-height: 16px;
    margin-top: 20px;
    text-align: right;
}

.swiper-slide__goldBtn {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-top: 30px;
}

.main-img {
    background: url(../images/dist/main.svg) no-repeat right top / auto 100%;
    height: 690px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
}

.slider-main .swiper-slide {
    overflow: hidden;
//    position: relative;
//    z-index: 3;
    
//    &:after {
//        background: url(../images/dist/main.svg) no-repeat right top;
//        background-size: auto 100%;
//        bottom: 0;
//        content: '';
//        left: 0;
//        position: absolute;
//        right: 0;
//        top: 0;
//    }
}

.slider-main .swiper-pagination {
    display: none;
    margin-top: 20px;
}

.slider-main .swiper-pagination-bullet {
    background: #064EBE;
    opacity: .4;
    transition: opacity .3s ease;
}

.slider-main .swiper-pagination-bullet-active {
    opacity: 1;
}

.swiper-slide__container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: $media-1) {
    .main-img {
        background-position: right -300px top;
    }
}

@media (max-width: $media-3) {
    .main-img {
        background-position: right -250px top;
    }
    .slider-btns {
        grid-row-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .title-1 {
        font-size: 25px;
        line-height: 31px;
        max-width: 300px;
    }
    .slider-main__container {
        display: none;
    }
    .slider-main .swiper-pagination {
        bottom: 0;
        display: block;
        position: static;
        transform: none;
    }
    .slider-main--textLeft .swiper-slide__container {
        padding: 20px;
    }
}

@media (max-width: $media-4) {
    .main-img {
        background-position: right -300px top;
    }
    .slider-main--images .swiper-slide__img {
        min-height: 265px;
    }
}

@media (max-width: $media-5) {
    .main-img {
        background-position: right -410px top;
    }
    .header__bottom {
        padding-right: 15px;
    }
}

@media (max-width: 430px) {
    .slider-btns {
        display: block;
    }
    .slider-btns__item {
        margin-bottom: 20px;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media (max-height: 850px) and (max-width: $media-3) {
    .main-img {
        background-position: right -200px top;
    }
}

@media (max-height: 850px) and (max-width: $media-4) {
    .header__bottom {
        color: #333;
    }
    .main-img {
        background-position: right -500px top;
    }
}