//$green-light: #96C234;
//$green: #548527;
//$mb: 30px;
//$button-size: 41px;
$black: #1F2025;
$red: #E92742;
$dark-grey: #8D8D8D;
$outline-grey: #EFF1F2;
$grey: #D6D6D6;
$blue: #0038FF;
$green: #1ED600;
$yellow: #FFDD29;
$bg: #FAFAFA;
$orange: #FE9E00;
$gray: #333;
$gray-light: #aaa;
$gray-lighter: #eee;
$space: 40px;
$blue: #428bca;
$blue-dark: darken($blue, 5%);

$media-1: 1360px;
$media-2: 1200px;
$media-3: 992px;
$media-4: 768px;
$media-5: 576px;
//$media-3: 830px;
//$media-4: 630px;
//$media-5: 530px;
//$media-6: 430px;
